.header-btn:hover{
    background-color: rgba(0, 0, 0, 0.335);
    color: white;
    border-radius: 5px;
}

.header-tag{
    background: -webkit-linear-gradient(rgba(134, 134, 134, 0.411), rgb(7, 7, 7));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}